name: intershipflutter
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.7.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  gap: ^3.0.1
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/

  fonts:
    - family: GreatVibest
      fonts:
        - asset: assets/fonts/GreatVibes-Regular.ttf

    - family: Inter-VariableFont_opsz,wght
      fonts:
        - asset: assets/fonts/Inter-VariableFont_opsz,wght.ttf